In [1]:
import pandas as pd

In [2]:
data_path='../data/KGHM.prn'
save_path='../data/KGHM_clear.csv'
column_names=['Name','Cos','Date','Time','Open','High','Low','Close','Volume','Oi']

In [3]:
df=pd.read_csv(data_path,names=column_names)

In [4]:
df.head(10)

   Name  Cos      Date    Time  Open  High   Low  Close  Volume  Oi
0  KGHM    0  20001117  100024  26.3  26.3  26.3   26.3   10840   0
1  KGHM    0  20001117  100025  26.3  26.3  26.3   26.3    1035   0
2  KGHM    0  20001117  100026  26.3  26.3  26.3   26.3      57   0
3  KGHM    0  20001117  100329  26.3  26.3  26.3   26.3   20288   0
4  KGHM    0  20001117  100928  26.2  26.2  26.2   26.2       9   0
5  KGHM    0  20001117  101110  26.3  26.3  26.3   26.3   10000   0
6  KGHM    0  20001117  101419  26.3  26.3  26.3   26.3     485   0
7  KGHM    0  20001117  101429  26.3  26.3  26.3   26.3      15   0
8  KGHM    0  20001117  102410  26.3  26.3  26.3   26.3     500   0
9  KGHM    0  20001117  102942  26.3  26.3  26.3   26.3      15   0

In [5]:
df.shape

(5640912, 10)

In [6]:
df[df['Cos']!=0].shape[0]

0

In [7]:
df[df['Oi']!=0].shape[0]

0

Dwie kolumny są puste dla każdego rekordu zatem usuwamy je

In [8]:
df=df.drop(columns=['Oi','Cos'])

In [9]:
df.head()

   Name      Date    Time  Open  High   Low  Close  Volume
0  KGHM  20001117  100024  26.3  26.3  26.3   26.3   10840
1  KGHM  20001117  100025  26.3  26.3  26.3   26.3    1035
2  KGHM  20001117  100026  26.3  26.3  26.3   26.3      57
3  KGHM  20001117  100329  26.3  26.3  26.3   26.3   20288
4  KGHM  20001117  100928  26.2  26.2  26.2   26.2       9

In [10]:
df_part=df.loc[:100,:]
df_part.head()

   Name      Date    Time  Open  High   Low  Close  Volume
0  KGHM  20001117  100024  26.3  26.3  26.3   26.3   10840
1  KGHM  20001117  100025  26.3  26.3  26.3   26.3    1035
2  KGHM  20001117  100026  26.3  26.3  26.3   26.3      57
3  KGHM  20001117  100329  26.3  26.3  26.3   26.3   20288
4  KGHM  20001117  100928  26.2  26.2  26.2   26.2       9

In [11]:
df['TimeNew']=df['Date'].map(str)+df['Time'].map(str)
df.head()

   Name      Date    Time  Open  High   Low  Close  Volume         TimeNew
0  KGHM  20001117  100024  26.3  26.3  26.3   26.3   10840  20001117100024
1  KGHM  20001117  100025  26.3  26.3  26.3   26.3    1035  20001117100025
2  KGHM  20001117  100026  26.3  26.3  26.3   26.3      57  20001117100026
3  KGHM  20001117  100329  26.3  26.3  26.3   26.3   20288  20001117100329
4  KGHM  20001117  100928  26.2  26.2  26.2   26.2       9  20001117100928

In [12]:
df['TimeNew']=pd.to_datetime(df['TimeNew'],format='%Y%m%d%H%M%S')
df.head()

   Name      Date    Time  Open  High   Low  Close  Volume             TimeNew
0  KGHM  20001117  100024  26.3  26.3  26.3   26.3   10840 2000-11-17 10:00:24
1  KGHM  20001117  100025  26.3  26.3  26.3   26.3    1035 2000-11-17 10:00:25
2  KGHM  20001117  100026  26.3  26.3  26.3   26.3      57 2000-11-17 10:00:26
3  KGHM  20001117  100329  26.3  26.3  26.3   26.3   20288 2000-11-17 10:03:29
4  KGHM  20001117  100928  26.2  26.2  26.2   26.2       9 2000-11-17 10:09:28

In [13]:
df['Date']=df['TimeNew']
df.head()

,Name,Date,Time,Open,High,Low,Close,Volume,TimeNew
0,KGHM,2000-11-17 10:00:24,100024,26.3,26.3,26.3,26.3,10840,2000-11-17 10:00:24
1,KGHM,2000-11-17 10:00:25,100025,26.3,26.3,26.3,26.3,1035,2000-11-17 10:00:25
2,KGHM,2000-11-17 10:00:26,100026,26.3,26.3,26.3,26.3,57,2000-11-17 10:00:26
3,KGHM,2000-11-17 10:03:29,100329,26.3,26.3,26.3,26.3,20288,2000-11-17 10:03:29
4,KGHM,2000-11-17 10:09:28,100928,26.2,26.2,26.2,26.2,9,2000-11-17 10:09:28

In [14]:
df=df.drop(columns=['Time','TimeNew'])

In [15]:
df.head()

   Name                Date  Open  High   Low  Close  Volume
0  KGHM 2000-11-17 10:00:24  26.3  26.3  26.3   26.3   10840
1  KGHM 2000-11-17 10:00:25  26.3  26.3  26.3   26.3    1035
2  KGHM 2000-11-17 10:00:26  26.3  26.3  26.3   26.3      57
3  KGHM 2000-11-17 10:03:29  26.3  26.3  26.3   26.3   20288
4  KGHM 2000-11-17 10:09:28  26.2  26.2  26.2   26.2       9

Another time format

In [16]:
# df['Date']=pd.to_datetime(df['Date'], format='%Y%m%d')

In [17]:
# df['Time']=pd.to_datetime(df['Time'], format='%H%M%S').dt.time

In [18]:
# df.head()

In [19]:
ser_diff = df.Date.diff()

ser_diff=ser_diff.dt.total_seconds().fillna(0)

df['TimeDelta']=ser_diff

df.head()

df["CoursChange"]=df.Open-df.Close.shift(1)

df["LowHighDiff"]=df["High"]-df["Low"]
df["OpenCloseDiff"]=df["Open"]-df["Close"]

In [20]:
df[df["TimeDelta"]>800000]

,Name,Date,Open,High,Low,Close,Volume,TimeDelta,CoursChange,LowHighDiff,OpenCloseDiff
3371820,KGHM,2014-01-31 09:00:01,108.9,108.9,108.9,108.9,3996,1353353.0,-4.85,0.0,0.0

Co zrobić z tą wartością?

In [21]:
# df=df.drop(df[df["TimeDelta"]>800000].index)

## Prepare to predict

In [44]:
df.drop(columns=['Name','Open','High','Low','Volume','LowHighDiff','OpenCloseDiff'],inplace=True)

df['day']=df['Date'].dt.strftime('%m/%d/%Y')


df['month']=(pd.DatetimeIndex(df['Date']).year-2000)*12+pd.DatetimeIndex(df['Date']).month

In [45]:
df.head()

                 Date  Close  TimeDelta  CoursChange         day  month
0 2000-11-17 10:00:24   26.3        0.0          NaN  11/17/2000     11
1 2000-11-17 10:00:25   26.3        1.0          0.0  11/17/2000     11
2 2000-11-17 10:00:26   26.3        1.0          0.0  11/17/2000     11
3 2000-11-17 10:03:29   26.3      183.0          0.0  11/17/2000     11
4 2000-11-17 10:09:28   26.2      359.0         -0.1  11/17/2000     11

In [47]:
df.tail()

                       Date  Close  TimeDelta  CoursChange         day  month
5640907 2018-11-23 17:00:01  89.94      607.0        -0.22  11/23/2018    227
5640908 2018-11-23 17:00:30  89.94       29.0         0.00  11/23/2018    227
5640909 2018-11-23 17:02:38  89.94      128.0         0.00  11/23/2018    227
5640910 2018-11-23 17:02:40  89.94        2.0         0.00  11/23/2018    227
5640911 2018-11-23 17:04:19  89.94       99.0         0.00  11/23/2018    227

In [46]:
df.to_pickle(save_path)