Na podstwie ostatnich 5 przewidzieć kolejną jedna -- wejsscie to deltta t i zmiana kursu



Dane zrobic w fromie 5 danych i wynik , potemm je poshuflowac
wyrzucic zmiany dluzsze niz dzien
mozna zsporbowac dane gdzie nic sie nie zmienilo tez wyrzucic

# TO DO:

1. zmienic close na cours change w prepare_day DONE
2. zamineic df na numpy array DONE
3. przetestowac wyjatek w prepare_day
4. podzielic miesiace na grupy 6,1,3,1 DONE
4. przetestowac inne modele, w liniowym sprobowac zrobic binaryny output

In [16]:
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
df_test_path='../data/df_test'
df_train_path='../data/df_train'

In [18]:
path='../data/KGHM_clear.csv'
df=pd.read_pickle(path)

In [19]:
LEARN_SAMPLE_SIZE=5

In [20]:
df

                       Date  Close  TimeDelta  CoursChange         day  month
0       2000-11-17 10:00:24  26.30        0.0          NaN  11/17/2000     11
1       2000-11-17 10:00:25  26.30        1.0         0.00  11/17/2000     11
2       2000-11-17 10:00:26  26.30        1.0         0.00  11/17/2000     11
3       2000-11-17 10:03:29  26.30      183.0         0.00  11/17/2000     11
4       2000-11-17 10:09:28  26.20      359.0        -0.10  11/17/2000     11
5       2000-11-17 10:11:10  26.30      102.0         0.10  11/17/2000     11
6       2000-11-17 10:14:19  26.30      189.0         0.00  11/17/2000     11
7       2000-11-17 10:14:29  26.30       10.0         0.00  11/17/2000     11
8       2000-11-17 10:24:10  26.30      581.0         0.00  11/17/2000     11
9       2000-11-17 10:29:42  26.30      332.0         0.00  11/17/2000     11
10      2000-11-17 10:30:06  26.30       24.0         0.00  11/17/2000     11
11      2000-11-17 10:37:05  26.30      419.0         0.00  11/17/2000     11
12      2000-11-17 10:39:32  26.20      147.0        -0.10  11/17/2000     11
13      2000-11-17 10:47:47  26.30      495.0         0.10  11/17/2000     11
14      2000-11-17 10:55:45  26.30      478.0         0.00  11/17/2000     11
15      2000-11-17 10:56:02  26.40       17.0         0.10  11/17/2000     11
16      2000-11-17 10:56:16  26.40       14.0         0.00  11/17/2000     11
17      2000-11-17 11:00:15  26.30      239.0        -0.10  11/17/2000     11
18      2000-11-17 11:00:31  26.40       16.0         0.00  11/17/2000     11
19      2000-11-17 11:04:13  26.30      222.0        -0.10  11/17/2000     11
20      2000-11-17 11:16:27  26.40      734.0         0.10  11/17/2000     11
21      2000-11-17 11:16:51  26.40       24.0         0.00  11/17/2000     11
22      2000-11-17 11:17:50  26.30       59.0        -0.10  11/17/2000     11
23      2000-11-17 11:17:51  26.30        1.0         0.00  11/17/2000     11
24      2000-11-17 11:18:10  26.50       19.0         0.10  11/17/2000     11
25      2000-11-17 11:20:12  26.50      122.0         0.00  11/17/2000     11
26      2000-11-17 11:24:14  26.60      242.0         0.10  11/17/2000     11
27      2000-11-17 11:26:34  26.60      140.0         0.00  11/17/2000     11
28      2000-11-17 11:29:26  26.70      172.0         0.10  11/17/2000     11
29      2000-11-17 11:34:55  26.70      329.0         0.00  11/17/2000     11
...                     ...    ...        ...          ...         ...    ...
5615631 2018-10-30 16:44:32  84.34        2.0        -0.06  10/30/2018    226
5615632 2018-10-30 16:44:52  84.34       20.0         0.00  10/30/2018    226
5615633 2018-10-30 16:44:59  84.40        7.0         0.00  10/30/2018    226
5615634 2018-10-30 16:45:07  84.40        8.0         0.00  10/30/2018    226
5615635 2018-10-30 16:45:19  84.34       12.0        -0.06  10/30/2018    226
5615636 2018-10-30 16:45:26  84.40        7.0         0.06  10/30/2018    226
5615637 2018-10-30 16:45:37  84.34       11.0        -0.06  10/30/2018    226
5615638 2018-10-30 16:45:47  84.40       10.0         0.06  10/30/2018    226
5615639 2018-10-30 16:46:25  84.40       38.0         0.00  10/30/2018    226
5615640 2018-10-30 16:46:35  84.50       10.0         0.10  10/30/2018    226
5615641 2018-10-30 16:46:37  84.44        2.0        -0.06  10/30/2018    226
5615642 2018-10-30 16:46:49  84.50       12.0         0.06  10/30/2018    226
5615643 2018-10-30 16:47:16  84.50       27.0         0.00  10/30/2018    226
5615644 2018-10-30 16:47:54  84.54       38.0         0.04  10/30/2018    226
5615645 2018-10-30 16:47:55  84.60        1.0         0.06  10/30/2018    226
5615646 2018-10-30 16:48:35  84.50       40.0        -0.10  10/30/2018    226
5615647 2018-10-30 16:48:36  84.60        1.0         0.10  10/30/2018    226
5615648 2018-10-30 16:48:44  84.50        8.0        -0.10  10/30/2018    226
5615649 2018-10-30 16:48:59  84.52       15.0         0.02  10/30/2018    226
5615650 2018-10-30 16:49:15  84.60       16.0         0.08  10/30/2018    226
5615651 2018-10-30 16:49:18  84.60        3.0        -0.06  10/30/2018    226
5615652 2018-10-30 16:49:27  84.64        9.0         0.04  10/30/2018    226
5615653 2018-10-30 16:49:29  84.66        2.0         0.02  10/30/2018    226
5615654 2018-10-30 16:49:31  84.66        2.0         0.00  10/30/2018    226
5615655 2018-10-30 16:49:41  84.60       10.0         0.00  10/30/2018    226
5615656 2018-10-30 16:49:46  84.60        5.0         0.00  10/30/2018    226
5615657 2018-10-30 16:49:47  84.42        1.0         0.00  10/30/2018    226
5615658 2018-10-30 16:49:59  84.50       12.0         0.08  10/30/2018    226
5615659 2018-10-30 17:00:01  84.70      602.0         0.20  10/30/2018    226
5615660 2018-10-30 17:02:27  84.70      146.0         0.00  10/30/2018    226

[5615661 rows x 6 columns]

In [21]:
df.head()

                 Date  Close  TimeDelta  CoursChange         day  month
0 2000-11-17 10:00:24   26.3        0.0          NaN  11/17/2000     11
1 2000-11-17 10:00:25   26.3        1.0          0.0  11/17/2000     11
2 2000-11-17 10:00:26   26.3        1.0          0.0  11/17/2000     11
3 2000-11-17 10:03:29   26.3      183.0          0.0  11/17/2000     11
4 2000-11-17 10:09:28   26.2      359.0         -0.1  11/17/2000     11

In [22]:
# df=df[:100000]

# Grupowanie po dniach

In [23]:
gb=df.groupby(df.day)

df_group_by_day_list=[gb.get_group(x).copy() for x in gb.groups]

for i in df_group_by_day_list:
    i.reset_index

In [24]:
df_group_by_day_list[0]

                    Date  Close  TimeDelta  CoursChange         day  month
7122 2001-01-02 10:00:05   25.2   323402.0         -0.6  01/02/2001     13
7123 2001-01-02 10:00:08   25.2        3.0          0.0  01/02/2001     13
7124 2001-01-02 10:00:09   25.2        1.0          0.0  01/02/2001     13
7125 2001-01-02 10:00:10   25.2        1.0          0.0  01/02/2001     13
7126 2001-01-02 10:00:47   25.2       37.0          0.0  01/02/2001     13
7127 2001-01-02 10:03:56   25.2      189.0          0.0  01/02/2001     13
7128 2001-01-02 10:04:18   25.2       22.0          0.0  01/02/2001     13
7129 2001-01-02 10:06:35   25.1      137.0         -0.1  01/02/2001     13
7130 2001-01-02 10:06:40   25.1        5.0          0.0  01/02/2001     13
7131 2001-01-02 10:07:44   25.1       64.0          0.0  01/02/2001     13
7132 2001-01-02 10:08:00   25.0       16.0         -0.1  01/02/2001     13
7133 2001-01-02 10:08:54   25.0       54.0          0.0  01/02/2001     13
7134 2001-01-02 10:09:58   25.2       64.0          0.2  01/02/2001     13
7135 2001-01-02 10:10:01   25.0        3.0         -0.2  01/02/2001     13
7136 2001-01-02 10:10:15   25.0       14.0          0.0  01/02/2001     13
7137 2001-01-02 10:16:31   25.0      376.0          0.0  01/02/2001     13
7138 2001-01-02 10:18:12   25.1      101.0          0.1  01/02/2001     13
7139 2001-01-02 10:19:32   25.1       80.0          0.0  01/02/2001     13
7140 2001-01-02 10:21:39   25.2      127.0          0.1  01/02/2001     13
7141 2001-01-02 10:21:57   25.1       18.0         -0.1  01/02/2001     13
7142 2001-01-02 10:30:02   25.3      485.0          0.2  01/02/2001     13
7143 2001-01-02 10:30:30   25.3       28.0          0.0  01/02/2001     13
7144 2001-01-02 10:32:39   25.1      129.0         -0.1  01/02/2001     13
7145 2001-01-02 10:32:52   25.1       13.0          0.0  01/02/2001     13
7146 2001-01-02 10:34:05   25.3       73.0          0.2  01/02/2001     13
7147 2001-01-02 10:36:27   25.3      142.0         -0.1  01/02/2001     13
7148 2001-01-02 10:40:12   25.3      225.0          0.0  01/02/2001     13
7149 2001-01-02 10:40:57   25.1       45.0         -0.2  01/02/2001     13
7150 2001-01-02 10:42:26   25.3       89.0          0.2  01/02/2001     13
7151 2001-01-02 10:43:23   25.3       57.0          0.0  01/02/2001     13
...                  ...    ...        ...          ...         ...    ...
7209 2001-01-02 13:23:26   25.5      114.0          0.1  01/02/2001     13
7210 2001-01-02 13:27:52   25.5      266.0          0.0  01/02/2001     13
7211 2001-01-02 13:50:12   25.5     1340.0          0.0  01/02/2001     13
7212 2001-01-02 13:52:01   25.4      109.0         -0.1  01/02/2001     13
7213 2001-01-02 13:59:05   25.5      424.0          0.1  01/02/2001     13
7214 2001-01-02 14:17:31   25.5     1106.0          0.0  01/02/2001     13
7215 2001-01-02 14:19:40   25.5      129.0          0.0  01/02/2001     13
7216 2001-01-02 14:19:52   25.5       12.0          0.0  01/02/2001     13
7217 2001-01-02 14:25:29   25.5      337.0          0.0  01/02/2001     13
7218 2001-01-02 14:38:33   25.4      784.0         -0.1  01/02/2001     13
7219 2001-01-02 14:44:11   25.4      338.0          0.0  01/02/2001     13
7220 2001-01-02 14:49:53   25.5      342.0          0.1  01/02/2001     13
7221 2001-01-02 15:00:04   25.4      611.0         -0.1  01/02/2001     13
7222 2001-01-02 15:15:38   25.4      934.0          0.0  01/02/2001     13
7223 2001-01-02 15:16:46   25.4       68.0          0.0  01/02/2001     13
7224 2001-01-02 15:18:32   25.4      106.0          0.0  01/02/2001     13
7225 2001-01-02 15:18:38   25.4        6.0          0.0  01/02/2001     13
7226 2001-01-02 15:18:48   25.4       10.0          0.0  01/02/2001     13
7227 2001-01-02 15:19:42   25.4       54.0          0.0  01/02/2001     13
7228 2001-01-02 15:27:16   25.4      454.0          0.0  01/02/2001     13
7229 2001-01-02 15:28:51   25.4       95.0          0.0  01/02/2001     13
7230 2001-01-02 15:36:18   25.3      447.0         -0.1  01/02/2001     13
7231 2001-01-02 15:37:06   25.3       48.0          0.0  01/02/2001     13
7232 2001-01-02 15:39:27   25.3      141.0          0.0  01/02/2001     13
7233 2001-01-02 15:41:43   25.3      136.0          0.0  01/02/2001     13
7234 2001-01-02 15:46:22   25.3      279.0          0.0  01/02/2001     13
7235 2001-01-02 15:49:12   25.3      170.0          0.0  01/02/2001     13
7236 2001-01-02 15:56:36   25.2      444.0         -0.1  01/02/2001     13
7237 2001-01-02 15:57:31   25.3       55.0          0.1  01/02/2001     13
7238 2001-01-02 16:10:03   25.3      752.0          0.0  01/02/2001     13

[117 rows x 6 columns]

# Dla każdego dnia możemy przeprowadzić osobne operacje

In [25]:
def prepare_day(df_group_by_day_list,learn_sample_size=5,predict_next=True):
    
    if predict_next:
        predict_n_steps_future=1
    else:
        predict_n_steps_future=0
        raise ValueError("Predicting long then next doesnt work yet") 
    for i,df_group in enumerate(df_group_by_day_list):
        #resetowanie indeksow
        
        
        #dodawanie wczesniejszych wartosci pomiarow
        for j in range(1,learn_sample_size):
            df_group_by_day_list[i]['CoursChange-'+str(j)]=df_group_by_day_list[i].loc[:,('CoursChange')].shift(j)
            df_group_by_day_list[i]['TimeDelta_-'+str(j)]=df_group_by_day_list[i].TimeDelta.shift(j)
        
        #tworzenie wynikow
        df_group_by_day_list[i].loc[:,('y')]=df_group_by_day_list[i].loc[:,('CoursChange')].shift(-predict_n_steps_future)
        df_group_by_day_list[i].drop(df_group_by_day_list[i].head(learn_sample_size).index,inplace=True)
        df_group_by_day_list[i].drop(df_group_by_day_list[i].tail(predict_n_steps_future).index,inplace=True)
        df_group_by_day_list[i].reset_index(inplace=True,drop=True)
        #         df_group_by_day_list[i].drop(df_group_by_day_list[i][df_group_by_day_list[i].TimeDelta>4000].index)
#     Next step -> delate outstandig values

In [26]:
prepare_day(df_group_by_day_list,learn_sample_size=LEARN_SAMPLE_SIZE)

In [27]:
df_group_by_day_list[0]

,Date,Close,TimeDelta,CoursChange,day,month,CoursChange-1,TimeDelta_-1,CoursChange-2,TimeDelta_-2,CoursChange-3,TimeDelta_-3,CoursChange-4,TimeDelta_-4,y
0,2001-01-02 10:03:56,25.2,189.0,0.0,01/02/2001,13,0.0,37.0,0.0,1.0,0.0,1.0,0.0,3.0,0.0
1,2001-01-02 10:04:18,25.2,22.0,0.0,01/02/2001,13,0.0,189.0,0.0,37.0,0.0,1.0,0.0,1.0,-0.1
2,2001-01-02 10:06:35,25.1,137.0,-0.1,01/02/2001,13,0.0,22.0,0.0,189.0,0.0,37.0,0.0,1.0,0.0
3,2001-01-02 10:06:40,25.1,5.0,0.0,01/02/2001,13,-0.1,137.0,0.0,22.0,0.0,189.0,0.0,37.0,0.0
4,2001-01-02 10:07:44,25.1,64.0,0.0,01/02/2001,13,0.0,5.0,-0.1,137.0,0.0,22.0,0.0,189.0,-0.1
5,2001-01-02 10:08:00,25.0,16.0,-0.1,01/02/2001,13,0.0,64.0,0.0,5.0,-0.1,137.0,0.0,22.0,0.0
6,2001-01-02 10:08:54,25.0,54.0,0.0,01/02/2001,13,-0.1,16.0,0.0,64.0,0.0,5.0,-0.1,137.0,0.2
7,2001-01-02 10:09:58,25.2,64.0,0.2,01/02/2001,13,0.0,54.0,-0.1,16.0,0.0,64.0,0.0,5.0,-0.2
8,2001-01-02 10:10:01,25.0,3.0,-0.2,01/02/2001,13,0.2,64.0,0.0,54.0,-0.1,16.0,0.0,64.0,0.0
9,2001-01-02 10:10:15,25.0,14.0,0.0,01/02/2001,13,-0.2,3.0,0.2,64.0,0.0,54.0,-0.1,16.0,0.0
10,2001-01-02 10:16:31,25.0,376.0,0.0,01/02/2001,13,0.0,14.0,-0.2,3.0,0.2,64.0,0.0,54.0,0.1
11,2001-01-02 10:18:12,25.1,101.0,0.1,01/02/2001,13,0.0,376.0,0.0,14.0,-0.2,3.0,0.2,64.0,0.0
12,2001-01-02 10:19:32,25.1,80.0,0.0,01/02/2001,13,0.1,101.0,0.0,376.0,0.0,14.0,-0.2,3.0,0.1
13,2001-01-02 10:21:39,25.2,127.0,0.1,01/02/2001,13,0.0,80.0,0.1,101.0,0.0,376.0,0.0,14.0,-0.1
14,2001-01-02 10:21:57,25.1,18.0,-0.1,01/02/2001,13,0.1,127.0,0.0,80.0,0.1,101.0,0.0,376.0,0.2
15,2001-01-02 10:30:02,25.3,485.0,0.2,01/02/2001,13,-0.1,18.0,0.1,127.0,0.0,80.0,0.1,101.0,0.0
16,2001-01-02 10:30:30,25.3,28.0,0.0,01/02/2001,13,0.2,485.0,-0.1,18.0,0.1,127.0,0.0,80.0,-0.1
17,2001-01-02 10:32:39,25.1,129.0,-0.1,01/02/2001,13,0.0,28.0,0.2,485.0,-0.1,18.0,0.1,127.0,0.0
18,2001-01-02 10:32:52,25.1,13.0,0.0,01/02/2001,13,-0.1,129.0,0.0,28.0,0.2,485.0,-0.1,18.0,0.2
19,2001-01-02 10:34:05,25.3,73.0,0.2,01/02/2001,13,0.0,13.0,-0.1,129.0,0.0,28.0,0.2,485.0,-0.1
20,2001-01-02 10:36:27,25.3,142.0,-0.1,01/02/2001,13,0.2,73.0,0.0,13.0,-0.1,129.0,0.0,28.0,0.0
21,2001-01-02 10:40:12,25.3,225.0,0.0,01/02/2001,13,-0.1,142.0,0.2,73.0,0.0,13.0,-0.1,129.0,-0.2
22,2001-01-02 10:40:57,25.1,45.0,-0.2,01/02/2001,13,0.0,225.0,-0.1,142.0,0.2,73.0,0.0,13.0,0.2
23,2001-01-02 10:42:26,25.3,89.0,0.2,01/02/2001,13,-0.2,45.0,0.0,225.0,-0.1,142.0,0.2,73.0,0.0
24,2001-01-02 10:43:23,25.3,57.0,0.0,01/02/2001,13,0.2,89.0,-0.2,45.0,0.0,225.0,-0.1,142.0,-0.2
25,2001-01-02 10:43:29,25.1,6.0,-0.2,01/02/2001,13,0.0,57.0,0.2,89.0,-0.2,45.0,0.0,225.0,0.2
26,2001-01-02 10:44:48,25.3,79.0,0.2,01/02/2001,13,-0.2,6.0,0.0,57.0,0.2,89.0,-0.2,45.0,0.0
27,2001-01-02 10:47:23,25.3,155.0,0.0,01/02/2001,13,0.2,79.0,-0.2,6.0,0.0,57.0,0.2,89.0,0.0
28,2001-01-02 10:47:24,25.3,1.0,0.0,01/02/2001,13,0.0,155.0,0.2,79.0,-0.2,6.0,0.0,57.0,0.0
29,2001-01-02 10:48:32,25.3,68.0,0.0,01/02/2001,13,0.0,1.0,0.0,155.0,0.2,79.0,-0.2,6.0,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,2001-01-02 13:21:32,25.5,231.0,-0.1,01/02/2001,13,0.0,269.0,-0.1,208.0,0.1,88.0,0.2,125.0,0.1
82,2001-01-02 13:23:26,25.5,114.0,0.1,01/02/2001,13,-0.1,231.0,0.0,269.0,-0.1,208.0,0.1,88.0,0.0
83,2001-01-02 13:27:52,25.5,266.0,0.0,01/02/2001,13,0.1,114.0,-0.1,231.0,0.0,269.0,-0.1,208.0,0.0
84,2001-01-02 13:50:12,25.5,1340.0,0.0,01/02/2001,13,0.0,266.0,0.1,114.0,-0.1,231.0,0.0,269.0,-0.1
85,2001-01-02 13:52:01,25.4,109.0,-0.1,01/02/2001,13,0.0,1340.0,0.0,266.0,0.1,114.0,-0.1,231.0,0.1
86,2001-01-02 13:59:05,25.5,424.0,0.1,01/02/2001,13,-0.1,109.0,0.0,1340.0,0.0,266.0,0.1,114.0,0.0
87,2001-01-02 14:17:31,25.5,1106.0,0.0,01/02/2001,13,0.1,424.0,-0.1,109.0,0.0,1340.0,0.0,266.0,0.0
88,2001-01-02 14:19:40,25.5,129.0,0.0,01/02/2001,13,0.0,1106.0,0.1,424.0,-0.1,109.0,0.0,1340.0,0.0
89,2001-01-02 14:19:52,25.5,12.0,0.0,01/02/2001,13,0.0,129.0,0.0,1106.0,0.1,424.0,-0.1,109.0,0.0
90,2001-01-02 14:25:29,25.5,337.0,0.0,01/02/2001,13,0.0,12.0,0.0,129.0,0.0,1106.0,0.1,424.0,-0.1
91,2001-01-02 14:38:33,25.4,784.0,-0.1,01/02/2001,13,0.0,337.0,0.0,12.0,0.0,129.0,0.0,1106.0,0.0
92,2001-01-02 14:44:11,25.4,338.0,0.0,01/02/2001,13,-0.1,784.0,0.0,337.0,0.0,12.0,0.0,129.0,0.1
93,2001-01-02 14:49:53,25.5,342.0,0.1,01/02/2001,13,0.0,338.0,-0.1,784.0,0.0,337.0,0.0,12.0,-0.1
94,2001-01-02 15:00:04,25.4,611.0,-0.1,01/02/2001,13,0.1,342.0,0.0,338.0,-0.1,784.0,0.0,337.0,0.0
95,2001-01-02 15:15:38,25.4,934.0,0.0,01/02/2001,13,-0.1,611.0,0.1,342.0,0.0,338.0,-0.1,784.0,0.0
96,2001-01-02 15:16:46,25.4,68.0,0.0,01/02/2001,13,0.0,934.0,-0.1,611.0,0.1,342.0,0.0,338.0,0.0
97,2001-01-02 15:18:32,25.4,106.0,0.0,01/02/2001,13,0.0,68.0,0.0,934.0,-0.1,611.0,0.1,342.0,0.0
98,2001-01-02 15:18:38,25.4,6.0,0.0,01/02/2001,13,0.0,106.0,0.0,68.0,0.0,934.0,-0.1,611.0,0.0
99,2001-01-02 15:18:48,25.4,10.0,0.0,01/02/2001,13,0.0,6.0,0.0,106.0,0.0,68.0,0.0,934.0,0.0
100,2001-01-02 15:19:42,25.4,54.0,0.0,01/02/2001,13,0.0,10.0,0.0,6.0,0.0,106.0,0.0,68.0,0.0
101,2001-01-02 15:27:16,25.4,454.0,0.0,01/02/2001,13,0.0,54.0,0.0,10.0,0.0,6.0,0.0,106.0,0.0
102,2001-01-02 15:28:51,25.4,95.0,0.0,01/02/2001,13,0.0,454.0,0.0,54.0,0.0,10.0,0.0,6.0,-0.1
103,2001-01-02 15:36:18,25.3,447.0,-0.1,01/02/2001,13,0.0,95.0,0.0,454.0,0.0,54.0,0.0,10.0,0.0
104,2001-01-02 15:37:06,25.3,48.0,0.0,01/02/2001,13,-0.1,447.0,0.0,95.0,0.0,454.0,0.0,54.0,0.0
105,2001-01-02 15:39:27,25.3,141.0,0.0,01/02/2001,13,0.0,48.0,-0.1,447.0,0.0,95.0,0.0,454.0,0.0
106,2001-01-02 15:41:43,25.3,136.0,0.0,01/02/2001,13,0.0,141.0,0.0,48.0,-0.1,447.0,0.0,95.0,0.0
107,2001-01-02 15:46:22,25.3,279.0,0.0,01/02/2001,13,0.0,136.0,0.0,141.0,0.0,48.0,-0.1,447.0,0.0
108,2001-01-02 15:49:12,25.3,170.0,0.0,01/02/2001,13,0.0,279.0,0.0,136.0,0.0,141.0,0.0,48.0,-0.1
109,2001-01-02 15:56:36,25.2,444.0,-0.1,01/02/2001,13,0.0,170.0,0.0,279.0,0.0,136.0,0.0,141.0,0.1
110,2001-01-02 15:57:31,25.3,55.0,0.1,01/02/2001,13,-0.1,444.0,0.0,170.0,0.0,279.0,0.0,136.0,0.0

In [28]:
df_merged=pd.concat(df_group_by_day_list, axis=0, ignore_index=True)

In [30]:
df_merged.month.min()

11

In [31]:
maximum=df_merged.month.max()
test=[]
train=[]
i=df_merged.month.min()
while i<(df_merged.month.max()+1):
    for j in range(i,i+6):
        train.append(j)
    i+=6
    i+=1
    for j in range(i,i+3):
        test.append(j)
    i+=3
    i+=1

In [32]:
gb=df_merged.groupby(df.month)

df_group_by_month_list=[gb.get_group(x).copy() for x in gb.groups]

for i in df_group_by_day_list:
    i.reset_index

In [33]:
test_df=[]
train_df=[]
for i in range(len(df_group_by_day_list)):
    x=df_group_by_day_list[i].month[0]
    if x in test:
        test_df.append(df_group_by_day_list[i])
    if x in train:
        train_df.append(df_group_by_day_list[i])

In [34]:
df_test=pd.concat(test_df, axis=0, ignore_index=True)
df_train=pd.concat(train_df, axis=0, ignore_index=True)

# Prawodpodobnie udało się podzielić na miesiące zgodnie ze wskazaniami 
# (6 train, 1 przerwy, 3 test, 1 przerwy)

In [35]:
x=df_test.month.unique()
x.sort()
x

array([ 18,  19,  20,  29,  30,  31,  40,  41,  42,  51,  52,  53,  62,
        63,  64,  73,  74,  75,  84,  85,  86,  95,  96,  97, 106, 107,
       108, 117, 118, 119, 128, 129, 130, 139, 140, 141, 150, 151, 152,
       161, 162, 163, 172, 173, 174, 183, 184, 185, 194, 195, 196, 205,
       206, 207, 216, 217, 218])

In [36]:
x=df_train.month.unique()
x.sort()
x

array([ 11,  12,  13,  14,  15,  16,  22,  23,  24,  25,  26,  27,  33,
        34,  35,  36,  37,  38,  44,  45,  46,  47,  48,  49,  55,  56,
        57,  58,  59,  60,  66,  67,  68,  69,  70,  71,  77,  78,  79,
        80,  81,  82,  88,  89,  90,  91,  92,  93,  99, 100, 101, 102,
       103, 104, 110, 111, 112, 113, 114, 115, 121, 122, 123, 124, 125,
       126, 132, 133, 134, 135, 136, 137, 143, 144, 145, 146, 147, 148,
       154, 155, 156, 157, 158, 159, 165, 166, 167, 168, 169, 170, 176,
       177, 178, 179, 180, 181, 187, 188, 189, 190, 191, 192, 198, 199,
       200, 201, 202, 203, 209, 210, 211, 212, 213, 214, 220, 221, 222,
       223, 224, 225])

# Wygląda, że działa!

In [ ]:
# df_merged[df_merged[df_merged.TimeDelta>8000].index[0]-2:df_merged[df_merged.TimeDelta>8000].index[0]+2]

In [ ]:
fig, ax = plt.subplots()
df_merged.TimeDelta.hist(ax=ax,bins=100, bottom=0.1)

# series.hist( bins=100, bottom=0.1)
ax.set_yscale('log')
ax.set_title('TimeDelta after removing days breaks')
plt.show()

## Zapisanie danych treningowych i testowych do pliku

In [38]:

pd.to_pickle(df_test,df_test_path)

pd.to_pickle(df_train,df_train_path)