In [1]:
import pandas as pd

In [4]:
data_path='../data/KGHM.prn'
save_path='../data/KGHM_clear.csv'
column_names=['Name','Cos','Date','Time','Open','High','Low','Close','Volume','Oi']

In [5]:
df=pd.read_csv(data_path,names=column_names)

In [6]:
df.head(10)

   Name  Cos      Date    Time  Open  High   Low  Close  Volume  Oi
0  KGHM    0  20001117  100024  26.3  26.3  26.3   26.3   10840   0
1  KGHM    0  20001117  100025  26.3  26.3  26.3   26.3    1035   0
2  KGHM    0  20001117  100026  26.3  26.3  26.3   26.3      57   0
3  KGHM    0  20001117  100329  26.3  26.3  26.3   26.3   20288   0
4  KGHM    0  20001117  100928  26.2  26.2  26.2   26.2       9   0
5  KGHM    0  20001117  101110  26.3  26.3  26.3   26.3   10000   0
6  KGHM    0  20001117  101419  26.3  26.3  26.3   26.3     485   0
7  KGHM    0  20001117  101429  26.3  26.3  26.3   26.3      15   0
8  KGHM    0  20001117  102410  26.3  26.3  26.3   26.3     500   0
9  KGHM    0  20001117  102942  26.3  26.3  26.3   26.3      15   0

In [7]:
df.shape

(5683710, 10)

In [8]:
df[df['Cos']!=0].shape[0]

0

In [9]:
df[df['Oi']!=0].shape[0]

0

Dwie kolumny są puste dla każdego rekordu zatem usuwamy je

In [10]:
df=df.drop(columns=['Oi','Cos'])

In [11]:
df.head()

   Name      Date    Time  Open  High   Low  Close  Volume
0  KGHM  20001117  100024  26.3  26.3  26.3   26.3   10840
1  KGHM  20001117  100025  26.3  26.3  26.3   26.3    1035
2  KGHM  20001117  100026  26.3  26.3  26.3   26.3      57
3  KGHM  20001117  100329  26.3  26.3  26.3   26.3   20288
4  KGHM  20001117  100928  26.2  26.2  26.2   26.2       9

In [12]:
df_part=df.loc[:100,:]
df_part.head()

   Name      Date    Time  Open  High   Low  Close  Volume
0  KGHM  20001117  100024  26.3  26.3  26.3   26.3   10840
1  KGHM  20001117  100025  26.3  26.3  26.3   26.3    1035
2  KGHM  20001117  100026  26.3  26.3  26.3   26.3      57
3  KGHM  20001117  100329  26.3  26.3  26.3   26.3   20288
4  KGHM  20001117  100928  26.2  26.2  26.2   26.2       9

In [13]:
df['TimeNew']=df['Date'].map(str)+df['Time'].map(str)
df.head()

   Name      Date    Time  Open  High   Low  Close  Volume         TimeNew
0  KGHM  20001117  100024  26.3  26.3  26.3   26.3   10840  20001117100024
1  KGHM  20001117  100025  26.3  26.3  26.3   26.3    1035  20001117100025
2  KGHM  20001117  100026  26.3  26.3  26.3   26.3      57  20001117100026
3  KGHM  20001117  100329  26.3  26.3  26.3   26.3   20288  20001117100329
4  KGHM  20001117  100928  26.2  26.2  26.2   26.2       9  20001117100928

In [14]:
df['TimeNew']=pd.to_datetime(df['TimeNew'],format='%Y%m%d%H%M%S')
df.head()

   Name      Date    Time  Open  High   Low  Close  Volume             TimeNew
0  KGHM  20001117  100024  26.3  26.3  26.3   26.3   10840 2000-11-17 10:00:24
1  KGHM  20001117  100025  26.3  26.3  26.3   26.3    1035 2000-11-17 10:00:25
2  KGHM  20001117  100026  26.3  26.3  26.3   26.3      57 2000-11-17 10:00:26
3  KGHM  20001117  100329  26.3  26.3  26.3   26.3   20288 2000-11-17 10:03:29
4  KGHM  20001117  100928  26.2  26.2  26.2   26.2       9 2000-11-17 10:09:28

In [15]:
df['Date']=df['TimeNew']
df.head()

,Name,Date,Time,Open,High,Low,Close,Volume,TimeNew
0,KGHM,2000-11-17 10:00:24,100024,26.3,26.3,26.3,26.3,10840,2000-11-17 10:00:24
1,KGHM,2000-11-17 10:00:25,100025,26.3,26.3,26.3,26.3,1035,2000-11-17 10:00:25
2,KGHM,2000-11-17 10:00:26,100026,26.3,26.3,26.3,26.3,57,2000-11-17 10:00:26
3,KGHM,2000-11-17 10:03:29,100329,26.3,26.3,26.3,26.3,20288,2000-11-17 10:03:29
4,KGHM,2000-11-17 10:09:28,100928,26.2,26.2,26.2,26.2,9,2000-11-17 10:09:28

In [16]:
df=df.drop(columns=['Time','TimeNew'])

In [17]:
df.head()

   Name                Date  Open  High   Low  Close  Volume
0  KGHM 2000-11-17 10:00:24  26.3  26.3  26.3   26.3   10840
1  KGHM 2000-11-17 10:00:25  26.3  26.3  26.3   26.3    1035
2  KGHM 2000-11-17 10:00:26  26.3  26.3  26.3   26.3      57
3  KGHM 2000-11-17 10:03:29  26.3  26.3  26.3   26.3   20288
4  KGHM 2000-11-17 10:09:28  26.2  26.2  26.2   26.2       9

Another time format

In [18]:
# df['Date']=pd.to_datetime(df['Date'], format='%Y%m%d')

In [19]:
# df['Time']=pd.to_datetime(df['Time'], format='%H%M%S').dt.time

In [20]:
# df.head()

In [21]:
df["CoursChange"]=df.Open-df.Close.shift(1)

In [26]:
df=df[df.CoursChange !=0.0]

In [27]:
df.head()

    Name                Date  Open  High   Low  Close  Volume  CoursChange
0   KGHM 2000-11-17 10:00:24  26.3  26.3  26.3   26.3   10840          NaN
4   KGHM 2000-11-17 10:09:28  26.2  26.2  26.2   26.2       9         -0.1
5   KGHM 2000-11-17 10:11:10  26.3  26.3  26.3   26.3   10000          0.1
12  KGHM 2000-11-17 10:39:32  26.2  26.2  26.2   26.2     100         -0.1
13  KGHM 2000-11-17 10:47:47  26.3  26.3  26.3   26.3     185          0.1

In [28]:
ser_diff = df.Date.diff()

ser_diff=ser_diff.dt.total_seconds().fillna(0)

df['TimeDelta']=ser_diff

df.head()



df["LowHighDiff"]=df["High"]-df["Low"]
df["OpenCloseDiff"]=df["Open"]-df["Close"]

In [29]:
df[df["TimeDelta"]>800000]

,Name,Date,Open,High,Low,Close,Volume,CoursChange,TimeDelta,LowHighDiff,OpenCloseDiff
3371820,KGHM,2014-01-31 09:00:01,108.9,108.9,108.9,108.9,3996,-4.85,1353600.0,0.0,0.0

Co zrobić z tą wartością?

In [30]:
# df=df.drop(df[df["TimeDelta"]>800000].index)

## Prepare to predict

In [31]:
df.drop(columns=['Name','Open','High','Low','Volume','LowHighDiff','OpenCloseDiff'],inplace=True)

df['day']=df['Date'].dt.strftime('%m/%d/%Y')


df['month']=(pd.DatetimeIndex(df['Date']).year-2000)*12+pd.DatetimeIndex(df['Date']).month

In [32]:
df.head()

                  Date  Close  CoursChange  TimeDelta         day  month
0  2000-11-17 10:00:24   26.3          NaN        0.0  11/17/2000     11
4  2000-11-17 10:09:28   26.2         -0.1      544.0  11/17/2000     11
5  2000-11-17 10:11:10   26.3          0.1      102.0  11/17/2000     11
12 2000-11-17 10:39:32   26.2         -0.1     1702.0  11/17/2000     11
13 2000-11-17 10:47:47   26.3          0.1      495.0  11/17/2000     11

In [33]:
df.tail()

                       Date  Close  CoursChange  TimeDelta         day  month
5683700 2019-01-09 16:49:45  91.58        -0.12        1.0  01/09/2019    229
5683701 2019-01-09 16:49:48  91.70         0.12        3.0  01/09/2019    229
5683702 2019-01-09 16:49:51  91.68        -0.02        3.0  01/09/2019    229
5683704 2019-01-09 16:49:56  91.70         0.02        5.0  01/09/2019    229
5683707 2019-01-09 17:00:01  92.00         0.30      605.0  01/09/2019    229

In [34]:
df.to_pickle(save_path)